p{
    color: red;
    text-align: center;
    line-height: 30px;
}
h1{
    color: black;
    text-align: center;
    text-decoration: red double underline;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
}
button{
    background-color: rgb(181, 126, 126);
    color: blueviolet;
}